/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.add-link {
    float: right;
}

.form-group {
    margin-bottom: 20px;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control-file {
    margin-top: 5px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.form-control-file {
    margin-top: 10px;
}

.preview-image {
    max-width: 200px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons styles */
.btn {
    margin-right: 5px;
}

.edit-btn {
    background-color: #28a745;
}

.delete-btn {
    background-color: #dc3545;
}

.input-group-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#loader {
    display: none;
    width: 30px;
    height: 30px;
}

/* Image styles */
.rounded {
    border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        margin-top: 15px;
        padding: 10px;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .table td img,
    .preview-image {
        max-width: 100px;
    }
    
    .btn {
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    .add-link {
        float: none;
        display: block;
        text-align: right;
        margin-bottom: 15px;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .table th:nth-child(5),
    .table td:nth-child(5),
    .table th:nth-child(6),
    .table td:nth-child(6),
    .table th:nth-child(4),
    .table td:nth-child(4) {
        display: none;
    }
}

